[Desktop Entry]
Name=gazebo
GenericName=Robotics Simulator
Comment=Gazebo 3D simulator for Robotics

Icon=ros-tool

Exec=bash -i -c "roslaunch gazebo_worlds empty_world.launch"
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
