[Desktop Entry]
Name=ROS
GenericName=ROS
Comment=Robot Operating System
Icon=ros-tool
Exec=bash -i /usr/share/ros-system-workstation/rxconsole
Path=/usr/share/ros-system-workstation
Terminal=false
Keywords=Science;Education;Robotics;Robot;
Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Actions=NetworkID;Rviz;RXConsole;Reconfigure;

[Desktop Action NetworkID]
Exec=bash -i -c ros-network-id
Icon=ros-tool
Name=ROS Network ID
OnlyShowIn=Unity;

[Desktop Action Rviz]
Exec=bash -i /usr/share/ros-system-workstation/rviz
Icon=ros-tool
Name=RViz
OnlyShowIn=Unity;

[Desktop Action RXConsole]
Exec=bash -i /usr/share/ros-system-workstation/rxconsole
Icon=ros-tool
Name=RXConsole
OnlyShowIn=Unity;

[Desktop Action Reconfigure]
Exec=bash -i /usr/share/ros-system-workstation/dynamic-reconfigure
Icon=ros-tool
Name=Dynamic Reconfigure
OnlyShowIn=Unity;
