[Desktop Entry]
Name=roscore
GenericName=ROS Core
Comment=Provides the required nodes for running ROS

Icon=ros-tool

Exec=bash -i -c "roscore"
Terminal=true

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
