[Desktop Entry]
Name=dynamic_reconfigure
GenericName=dynamic_reconfigure Configuration Tool
Comment=Configuration Tool for ROS Node Parameters

Icon=ros-tool

Exec=bash -i rosrun dynamic_reconfigure reconfigure_gui
Terminal=false

Categories=Development;Science;Education;
X-Ubuntu-Category-Secondary=Robotics;
StartupNotify=true
Type=Application
Version=1.0
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
