Source: ros-system-workstation
Maintainer: I Heart Engineering <code@iheartengineering.com>
Section: python
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 7.0.50~)
Standards-Version: 3.9.3

Package: ros-system-workstation
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ros-fuerte-ros, python-rosinstall, python-rosdep
Description: ROS Workstation
 ROS Workstation Environment
